.styleCheckboxes{
    color: #232637;
  }
  /*
  .divProgressBar{
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    padding: 10px;
    top: 0px;
    margin-top: -20px;
  }

  
  .progressoInfo{
    margin-bottom: -10px;
  }
*/
  .divProgressBar{
    text-align: left;
    padding: 10px;
    margin-top: -20px;
    position: relative;
  }

  
  .progressoInfo{
    margin-bottom: -10px;
  }

  /*Modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  /* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.footerStyle {
    position: absolute;
    bottom: 0;
}

.formStyle {
    margin-top: -60px;
    margin-bottom: 40px;
}

button:focus-visible {
  /* remove default focus style */
  /* custom focus styles */
  outline-style: solid;
  outline-color: rgb(26, 50, 184);
}


#breadcrumb_section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#breadcrumb_section li {
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  float: left;
}

#breadcrumb_section li + li::before {
  content: "/";
}


.formulario div{
	display:inline-block;
	width: calc(50% - 25px);
    float: left;
    position:relative;
    margin-bottom: 30px;
    font-size:16px;
    
}
.formulario div.all-width{
	width:100%;
}
.formulario label{
	color:white;
	display: block;
	margin-bottom:10px;
	font-weight: bold;
}

.formulario input{
	border:none;
	box-shadow: none;
	border-radius:20px;
	height:40px;
	padding:0 20px;
	width: 100%;
    box-sizing: border-box;
    outline:none;
    color: #2980b9;
    font-weight: bold;
    border:1px solid #2980b9;
}
.formulario textarea{
	border:none;
	box-shadow: none;
	border-radius:20px;
	height:160px;
	padding:0 20px;
	width: 100%;
    box-sizing: border-box;
    outline:none;
    color: #2980b9;
    /* font-weight: bold; */
    border:1px solid #2980b9;
    padding:15px;
}
.formulario input[type="submit"]{
	display:inline-block;
	max-width:200px;
	height:40px;
	background:#c29300;
	float:right;
	color:white;
	cursor:pointer;
	margin:15px 0;
	border:none;
}
.formulario select{
	border:none;
	box-shadow: none;
	border-radius:20px;
	height:40px;
	padding:0 20px;
	width: 100%;
    box-sizing: border-box;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    color: #2980b9;
    font-weight: bold;
    cursor:pointer;
    background: white;
    border:1px solid #2980b9;
}


.formulario div:first-of-type{
	margin-right:50px;
}

.formulario div:nth-of-type(3){
	margin-right: 50px;
}

.formulario div.select:after{
	    content: "";
    display: inline-block;
    background-image: url("../img/icon_seta_azul.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 10px;
    transform: rotate(-90deg);
    right: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.s-contact .formulario label{
	color:#2980b9;
	text-align: left;
	padding-left:10px;
}

.formulario fieldset{
  width:100%;
}
.formulario div{
  margin-bottom:15px;
}

.formulario div{
  width:100%;
}

.formulario input[type="submit"]{
  background: #2d80b9;
}
.formulario input{
  border:none;
  box-shadow: none;
  border-radius:20px;
  height:40px;
  padding:0 20px;
  width: 100%;
  box-sizing: border-box;
  outline:none;
  color: #2980b9;
  font-weight: normal !important;
  border:1px solid #2980b9;
}

.formulario label {
  color: white;
  display: block;
  margin-bottom: 0px !important; 
  font-weight: bold;
}

.formulario {
	margin-bottom:50px;
}

.formulario label span {
	display:inline !important;
}

.anchor_listas_style {
  color:black; 
  text-decoration: underline;
}

.titulo_checklist_style {
  text-align: center; 
  color:black; 
  font-size: 24px; 
}